c<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Boat type</th>
      <th>Club</th>
      <th>Heats</th>
      <th>Rowers</th>
      <th>Results</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.boat_type.name %></td>
      <td><%= link_to team.club.name, club_url(team.club) %></td>
      <td>
        <% team.heats.each do |heat| %>
        <%= link_to heat.name, heat_url(heat) %>
        <% end %>
      </td>
      <td>
        <% team.rowers.each do |rower| %>
        <%= link_to rower.name, rower_url(rower) %>
        <% end %>
      </td>
      <td>
        <% if team.results.present? %>
        <%= team.results.first.rank %>
        (<% team.results.each do |result| %>
        <%= result.laptime %> ,
        <% end %>)
        <% end %>
      </td>
      <td><%= link_to 'Show', team_url(team), :class => "btn btn-primary"  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

