<h1>Clubs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Teams</th>
      <th></th>
      <th>Number of Rowers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= club.teams.count %></td>
      <td>
        <%= link_to 'Show Teams', club_teams_url(club), :class => "btn btn-primary"  %>
      </td>
      <td><%= club.rowers.count %></td>
      <td>
        <%= link_to 'Show Rowers', club_rowers_url(club), :class => "btn btn-primary"  %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

