<h1>Clubs</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Teams</th>
      <th></th>
      <th>Number of Rowers</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= club.teams.count %></td>
      <td>
        <%= link_to 'Show Teams', club_teams_url(club), :class => "btn btn-inverse"  %>
      </td>
      <td><%= club.rowers.count %></td>
      <td>
        <%= link_to 'Show Rowers', club_rowers_url(club), :class => "btn btn-inverse"  %>
      </td>
      <% if signed_in? %>
      <td>
        <%= link_to 'Edit Club', edit_club_url(club), :class => "btn btn-success"  %>
      </td>
      <td>
        <%= link_to 'Destroy', club_url(club), method: 'delete', data: { confirm: "Do you really want to delete this club?" }, :class => "btn btn-warning" %>
      </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

