<h1>Clubs</h1>

<p><%= link_to 'Add a New Club', new_club_url %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Teams</th>
      <th>Number of Rowers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= club.teams.count %></td>
      <td><%= club.rowers.count %></td>
      <td><%= link_to 'Show', club_url(club), :class => "btn btn-primary"  %></td>
      <td><%= link_to 'Edit', edit_club_url(club) %></td>
      <td><%= link_to 'Destroy', club_url(club), method: 'delete', data: { confirm: "Do you really want to delete this club?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

