<h1>Editing <%= @team.name %></h1>

<h1>If you want to change which rowers belongs to which team then change the settings in step2 on <%= link_to "the previous page", edit_club_url(@team.club) %></h1>

<%= form_tag(team_url(@team), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @team.name %>
  </div>

  <div>
    <%= label_tag :boat_type_id %><br />
    <%= select_tag :boat_type_id, options_from_collection_for_select(BoatType.all, :id, :name, @team.boat_type_id) %>
  </div>

  <div>
    <%= label_tag :club_id %><br />
    <%= select_tag :club_id, options_from_collection_for_select(Club.all, :id, :name, @team.club_id) %>
  </div>


  <div>
    <%= submit_tag "Update Team" %>
  </div>

<% end %>
