<div class="page-header">
  <h1>Teams <%= @club.name %> <small>where do you belong to?</small></h1>
</div>
<p>On this page the teams of <%=@club.name%> are sorted on heats, this allowes, for instance coaches, to see when their next team is up for a race. Because of this a team can be listed several times. </p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Heats</th>
      <th>Name</th>
      <th>Boat type</th>
      <th>Rowers</th>
      <th>Rank</th>
      <th>Results</th>
    </tr>
  </thead>

  <tbody>
    <% @heats.each do |heat| %>
      <% if heat.teams.map {|x| x.club.name}.include?(@club.name) %>
        <% heat.sort!.teams.each do |team| %>
          <% if team.club == @club %>
            <tr>
              <td><%= heat.name %></td>
              <td><%= team.name %></td>
              <td><%= team.boat_type.name %></td>
              <td>
                <% team.rowers.each do |rower| %>
                  <%= rower.name %>
                <% end %>
              </td>
              <% if team.results.present? %>
                <td>
                  <%= team.results.first.rank %>
                </td>
                <td>
                  (<% team.results.each do |result| %>
                  <%= result.laptime %> ,
                  <% end %>)
                </td>
              <% else %>
                <% ((@club.teams.map {|x| x.results.count }).max + 1).times do %>
                  <td></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>




