<div class="page-header">
  <h1><%= @team.name %><small>where do you belong to?</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Heats</th>
      <th>Boat type</th>
      <th>Rowers</th>
      <th>Rank</th>
      <th>Results</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <% @team.heats.each do |heat| %>
        <%= link_to heat.name, heat_url(heat) %>
        <% end %>
      </td>
      <td><%= @team.boat_type.name %></td>
      <td>
        <% @team.rowers.each do |rower| %>
        <%= rower.name %>
        <% end %>
      </td>
        <% if @team.results.present? %>
      <td>
        <%= @team.results.first.rank %>
      </td>
      <td>
        (<% @team.results.each do |result| %>
        <%= result.laptime %> ,
        <% end %>)
      </td>

        <% end %>
    </tr>
  </tbody>
</table>
