<h1>Team classifications</h1>

<p><%= link_to 'Add a New Team Classification', new_team_classification_url %></p>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Heat</th>
      <th>Boat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @team_classifications.each do |team_classification| %>
    <tr>
      <td><%= team_classification.team_id %></td>
      <td><%= team_classification.heat_id %></td>
      <td><%= team_classification.boat_id %></td>
  
      <td><%= link_to 'Show', team_classification_url(team_classification) %></td>
      <td><%= link_to 'Edit', edit_team_classification_url(team_classification) %></td>
      <td><%= link_to 'Destroy', team_classification_url(team_classification), method: 'delete', data: { confirm: "Do you really want to delete this team_classification?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

