<h1>New Team Classification</h1>


<%= form_tag(team_classifications_url, method: 'post') do %>


  <div>
    <%= label_tag :team_id %><br />
    <%= text_field_tag :team_id %>
  </div>

    <div>
    <%= label_tag :heat_id %><br />
    <%= text_field_tag :heat_id %>
  </div>

    <div>
    <%= label_tag :boat_id %><br />
    <%= text_field_tag :boat_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Team Classification" %>
  </div>
<% end %>
