<h1>Draw</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Heat</th>
      <th>Lane 1</th>
      <th>Lane 2</th>
      <th>Lane 3</th>
      <th>Lane 4</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @heats.each do |heat| %>
    <tr>
      <td><%= heat.name %></td>

        <% heat.team_classifications.each do |team_classification|%>
          <td>
            <%= "#{team_classification.team.name} (#{team_classification.team.rowers[0].name})"%>

            <% if Result.exists?(:heat_id => team_classification.heat.id, :team_id => team_classification.team.id) %>

              <p class="text-info"><strong>
              Laptime =
              <%=Result.find_by_heat_id_and_team_id(team_classification.heat.id,team_classification.team.id).laptime %><br>

              Rank =
              <%=Result.find_by_heat_id_and_team_id(team_classification.heat.id,team_classification.team.id).rank %>
              </strong></p>

            <% else %>
              <p><%= team_classification.boat.name %><p>
            <% end %>
          </td>
        <% end %>

        <% (4-heat.teams.each.count).times do%>
        <td></td>
        <% end %>
        <td>
          <%= link_to 'Show all rowers', heat_url(heat), :class => "btn btn-inverse"  %>
        </td>
    </tr>

  <% end %>
  </tbody>
</table>
