<% @boat_types.each do |boat_type|%>
  <table border=1>
    <tr>
      <th colspan="5"><%= boat_type.name %></th>
    </tr>
    <tr>
      <th>Team</th>
      <th>Rowers</th>
      <% if (boat_type.teams.map {|i| i.results.count}).max.present? %>
        <% (boat_type.teams.map {|i| i.results.count}).max.times do |i| %>
            <th>Laptime <%=i + 1%></th>
        <% end %>
        <% if (boat_type.teams.map {|i| i.results.count}).max >= 1 %>
        <th>Laptime total</th>
        <th>Rank</th>
        <% end %>
      <% end %>
    </tr>
    <% boat_type.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <% team.rowers.each do |rower| %>
            <%= rower.name %>
          <% end %>
        </td>
        <% if team.results.present? %>
          <% team.results.each do |result| %>
            <td>
              <%= result.laptime %>
            </td>

          <% end %>
          <% ((boat_type.teams.map {|i| i.results.count}).max - team.results.count).times do |i| %>
            <td></td>
          <% end %>
          <td>
            <%= team.results.sum(:laptime) %>
          </td>
          <td>
            <%= team.results.first.rank %>
          </td>
        <% else %>
          <% ((boat_type.teams.map {|i| i.results.count}).max + 2).times do |i| %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
  <br>
  <br>

<% end %>
