<h1>Categories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="<%= (@boat_types.map{|x| x.teams.count}).max %>">Teams</th>
      <th>Results</th>
    </tr>
  </thead>

  <tbody>
  <% @boat_types.each do |boat_type| %>
    <% if boat_type.teams.present? %>
      <tr>
        <td><%= boat_type.name %></td>
        <% boat_type.teams.each do |team| %>
          <td>
            <%=team.name%> (<%= link_to team.club.name, club_teams_url(team.club.id) %>)
          </td>
        <% end %>
        <% ((@boat_types.map{|x| x.teams.count}).max - boat_type.teams.count).times do %>
          <td></td>
        <% end %>
        <td>
          <%= link_to 'Show', boat_type_url(boat_type), :class => "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
