<div class="page-header">
  <h1><%= @boat_type.name %> <small>who do you challenge?</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>Rowers</th>
      <% if (@boat_type.teams.map {|i| i.results}).present? %>
        <% (@boat_type.teams.map {|i| i.results.count}).max.times do |i| %>
          <th>Laptime <%=i + 1%></th>
        <% end %>
      <% end %>
      <% if (@boat_type.teams.map {|i| i.results.count}).max >= 1 %>
      <th>Laptime total</th>
      <th>Rank</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @boat_type.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <% team.rowers.each do |rower| %>
            <%= rower.name %>
          <% end %>
        </td>
        <% if team.results.present? %>
        <% team.results.each do |result| %>
          <td>
            <%= result.laptime %>
          </td>

        <% end %>

          <td>
            <%= team.results.sum(:laptime) %>
          </td>
          <td>
            <%= team.results.first.rank %>
          </td>
        <% else %>
          <% ((@boat_type.teams.map {|i| i.results.count}).max + 2).times do |i| %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
      <% if signed_in? %>
        <tr>
          <td>
            <%= link_to "calculate rank", calculaterank_url(@boat_type.id), :class => "btn btn-warning" %>
          </td>
          <td colspan="5">
            In case a team has fewer results, a time penalty of 10 minutes will be added.
          </td>

        </tr>
      <% end %>
  </tbody>
</table>



