<h1>Editing Rower Classification #<%= @rower_classification.id %></h1>


<%= form_tag(rower_classification_url(@rower_classification), method: 'put') do %>

  <div>
    <%= label_tag :rower_id %><br />
    <%= text_field_tag :rower_id, @rower_classification.rower_id %>
  </div>

  <div>
    <%= label_tag :team_id %><br />
    <%= text_field_tag :team_id, @rower_classification.team_id %>
  </div>

  
  <div>
    <%= submit_tag "Update Rower Classification" %>
  </div>

<% end %>
