<h1>Rower classifications</h1>

<p><%= link_to 'Add a New Rower Classification', new_rower_classification_url %></p>

<table>
  <thead>
    <tr>
      <th>Rower</th>
      <th>Team</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @rower_classifications.each do |rower_classification| %>
    <tr>
      <td><%= rower_classification.rower_id %></td>
      <td><%= rower_classification.team_id %></td>
  
      <td><%= link_to 'Show', rower_classification_url(rower_classification) %></td>
      <td><%= link_to 'Edit', edit_rower_classification_url(rower_classification) %></td>
      <td><%= link_to 'Destroy', rower_classification_url(rower_classification), method: 'delete', data: { confirm: "Do you really want to delete this rower_classification?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

