<h1>New Rower Classification</h1>


<%= form_tag(rower_classifications_url, method: 'post') do %>


  <div>
    <%= label_tag :rower_id %><br />
    <%= text_field_tag :rower_id %>
  </div>

    <div>
    <%= label_tag :team_id %><br />
    <%= text_field_tag :team_id %>
  </div>

  
  <div>
    <%= submit_tag "Create Rower Classification" %>
  </div>
<% end %>
