<h1>Calculate Rankings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th># Teams</th>
      <th># Expected Results</th>
      <th># Results</th>
      <th></th>

    </tr>
  </thead>

  <tbody>
  <% @boat_types.each do |boat_type| %>
     <% unless (boat_type.teams.map{|x| x.team_classifications.count}).uniq.count == 0 %>
      <tr <%= 'class=alert alert-error' unless (boat_type.teams.map{|x| x.team_classifications.count}).uniq.count == 1  %>>
        <td><%= boat_type.name %></td>
          <td>
            <% if (boat_type.teams.map{|x| x.team_classifications.count}).uniq.count == 1 %>
              All the teams are currently classified <%= (boat_type.teams.map{|x| x.team_classifications.count}).uniq[0]%> times.
            <% else %>
              Some teams are currently classified <%= (boat_type.teams.map{|x| x.team_classifications.count}).uniq[0]%> times, while others are classified <%= (boat_type.teams.map{|x| x.team_classifications.count}).uniq[1]%> times.

              <p><% boat_type.teams.each do |team| %>
              <%= link_to team.name, team_url(team) %>(<%= team.team_classifications.count%>x)
              <% end %></p>
            <% end %>
          </td>
        <td><%= boat_type.teams.count %></td>
        <td><%= (boat_type.teams.map{|x| x.team_classifications.count}).sum %></td>
        <td><%= (boat_type.teams.map{|x| x.results.count}).sum %></td>
        <td><%= link_to "Calculate Rankings", boat_type_url(boat_type.id), :class => 'btn btn-inverse' if (boat_type.teams.map{|x| x.team_classifications.count}).sum == (boat_type.teams.map{|x| x.results.count}).sum %><%= link_to "Calculate Rankings", boat_type_url(boat_type.id), :class => 'btn' if (boat_type.teams.map{|x| x.team_classifications.count}).sum != (boat_type.teams.map{|x| x.results.count}).sum %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
