<h1>Results</h1>

<p><%= link_to 'Add a New Result', new_result_url %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Boat_type</th>
      <th>Remark</th>
      <th>Teams (# heats)</th>
    </tr>
  </thead>

  <tbody>
    <% @boat_types.each do |boat_type| %>
      <% if (boat_type.teams.map{|x| x.team_classifications.count}).uniq.count > 1 %>
        <tr>
          <td><%= boat_type.name %></td>
          <td><span class="label label-important">Some are currently classified <%= (boat_type.teams.map{|x| x.team_classifications.count}).uniq[0]%> times, while others are classified <%= (boat_type.teams.map{|x| x.team_classifications.count}).uniq[1]%> times.</span></td>
          <% boat_type.teams.each do |team| %>
            <td><%= link_to team.name, team_url(team) %>(<%= team.team_classifications.count%>)</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Laptime</th>
      <th>Team</th>
      <th>Heat</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.rank %></td>
      <td><%= result.laptime %></td>
      <td><%= result.team_id %></td>
      <td><%= result.heat_id %></td>

      <td><%= link_to 'Show', result_url(result) %></td>
      <td><%= link_to 'Edit', edit_result_url(result) %></td>
      <td><%= link_to 'Destroy', result_url(result), method: 'delete', data: { confirm: "Do you really want to delete this result?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<h1>Boatname wordt vervangen door Results als die er zijn</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Heat</th>
      <th>Lane 1</th>
      <th>Lane 2</th>
      <th>Lane 3</th>
      <th>Lane 4</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @heats.each do |heat| %>
    <tr>
      <td><%= heat.name %></td>

        <% heat.team_classifications.each do |team_classification|%>
          <td>
            <%= "#{team_classification.team.name} (#{team_classification.team.rowers[0].name})"%>

            <% if Result.exists?(:heat_id => team_classification.heat.id, :team_id => team_classification.team.id) %>

              <p class="text-info"><strong>
              Laptime =
              <%=Result.find_by_heat_id_and_team_id(team_classification.heat.id,team_classification.team.id).laptime %><br>

              Rank =
              <%=Result.find_by_heat_id_and_team_id(team_classification.heat.id,team_classification.team.id).rank %>
              </strong></p>

            <% else %>
              <p><%= team_classification.boat.name %><p>
            <% end %>
          </td>
        <% end %>

        <% (4-heat.teams.each.count).times do%>
        <td></td>
        <% end %>
        <td>
          <%= link_to 'Show all rowers', heat_url(heat), :class => "btn btn-primary"  %>
        </td>
    </tr>

  <% end %>
  </tbody>
</table>
