<h1>Result #<%= @result.id %></h1>

<p>
  <b>Rank:</b>
  <%= @result.rank %>
</p>

<p>
  <b>Laptime:</b>
  <%= @result.laptime %>
</p>

<p>
  <b>Team:</b>
  <%= @result.team_id %>
</p>

<p>
  <b>Heat:</b>
  <%= @result.heat_id %>
</p>

