<div class="page-header">
  <h1>Rowers <%= @club.name %> <small>where do you belong to?</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <% (@club.rowers.map {|x| x.teams.count}).max.times do |i|%>
      <th>Team <%= i + 1%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% @club.rowers.each do |rower| %>
    <tr>
      <td><%= rower.name %></td>
      <td><%= rower.age %></td>
      <% (@club.rowers.map {|x| x.teams.count}).max.times do |i|%>
        <% if rower.teams[i].present? %>
          <td><%= rower.teams[i].name %></td>
        <% else %>
          <% if (@club.rowers.map {|x| x.teams.count}).max > (i + 1)%>
            <td></td>
          <% end %>
        <%end%>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

