<h1><%= @rower.name %></h1>

<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Club</th>
    <% if @rower.teams[0].present? %>
    <th>Team 1</th>
    <% end %>
    <% if @rower.teams[1].present? %>
    <th>Team 2</th>
    <% end %>
    <% if @rower.teams[2].present? %>
    <th>Team 3</th>
    <% end %>
  </thead>

  <tbody>

    <td>
      <%= @rower.name %>
    </td>

    <td>
      <%= @rower.age %>
    </td>

    <td>
    <%= link_to @rower.club.name, club_url(@rower.club) %>
    </td>

    <% if @rower.teams[0].present? %>
      <td><%= link_to @rower.teams[0].name, team_url(@rower.teams[0]) %></td>
    <%end%>

    <% if @rower.teams[1].present? %>
      <td><%= link_to @rower.teams[1].name, team_url(@rower.teams[1]) %></td>
    <%end%>

    <% if @rower.teams[2].present? %>
      <td><%= link_to @rower.teams[2].name, team_url(@rower.teams[2]) %></td>
    <% end %>

  </tbody>
</table>
