<div class="page-header">
  <h1><%= @boat.name %> <small>where do you race in?</small></h1>
</div>

<%= form_tag(boat_url(@boat), method: 'put') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @boat.name %>
  </div>


  <div>
    <%= submit_tag "Update Boat" %>
  </div>

<% end %>
