<!DOCTYPE html>
<html>
<head>
  <title>Zzv Jeugdwedstrijden</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">

<div>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
        <h4><%=key.capitalize%>!</h4>
      <%= value %>
    </div>
  <% end %>
</div>


<%#= 'active' if action_name == 'index' && controller.class.name == 'ResultsController' %>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <a class="brand">ZZV Jeugdwedstrijden</a>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li class="<%= 'active' if action_name == 'index' &&controller.class.name == 'AboutController' %>"><%= link_to 'About', root_url %></li>
      <li class="divider-vertical"></li>
      <li class="<%= 'active' if (action_name == 'index' || action_name == 'show' )&&controller.class.name == 'BoatTypesController' %>"><%= link_to 'Categories', boat_types_url %></li>
      <li class="divider-vertical"></li>
      <li class="<%= 'active' if (action_name == 'index' || action_name == 'teams' || action_name == 'rowers' )&&controller.class.name == 'ClubsController' %>"><%= link_to 'Clubs', clubs_url %></li>
      <li class="divider-vertical"></li>
      <li class="<%= 'active' if (action_name == 'index'|| action_name == 'show' )&&controller.class.name == 'HeatsController' %>"><%= link_to 'Heats / Results', heats_url %></li>
      <li class="divider-vertical"></li>
      <% if signed_in? %>
      <li><%= link_to "Sign Out", sessions_url, method: 'delete' %></li>
      <li class="divider-vertical"></li>
      <% else %>

        <%= form_tag sessions_url, :class => "navbar-form pull-right" do %>
          <%= hidden_field_tag :name, "admin" %>
          <%= password_field_tag :password, "" ,:class => "span2" %>

        <%= submit_tag "Admin sign in", :class => "btn btn-primary" %>
        <% end %>
      <% end %>

    </ul>
    <% if signed_in? %>
      <ul class="nav">
        <li class="dropdown">
        <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown">
            Admin Pages
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-header">Administration</li>
          <li class="<%= 'active' if (action_name == 'index'|| action_name == 'edit'|| action_name == 'new' ) &&controller.class.name == 'ClubsController' %>"><%= link_to 'Clubs (Rowers & Teams)', clubs_url %></li>
          <li class="<%= 'active' if action_name == 'new' &&controller.class.name == 'AdminsController' %>"><%= link_to 'Resources (Boats & Categories)', new_admin_url %></li>
          <li class="divider"></li>
          <li class="nav-header">Info</li>
          <li class="<%= 'active' if action_name == 'index' &&controller.class.name == 'BoatsController' %>"><%= link_to 'Boat Classification', boats_url %></li>
          <li class="nav-header">Race Related</li>
          <li class="<%= 'active' if action_name == 'edit' &&controller.class.name == 'HeatsController' %>"><%= link_to 'Change Heat', edit_heat_url %></li>
          <li class="<%= 'active' if action_name == 'new' &&controller.class.name == 'ResultsController' %>"><%= link_to 'Add Results', new_result_url %></li>
          <li class="<%= 'active' if action_name == 'edit' &&controller.class.name == 'ResultsController' %>"><%= link_to 'Calculate Ranking', edit_result_url %></li>
        </ul>
      <% end %>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>






  <%= yield %>


</div>
</body>
</html>
